<footer class="{% if site.footer_fixed %}fixed-bottom{% else %}sticky-bottom mt-5{% endif %}" role="contentinfo">
  <div class="container">
    &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.last_name }}.
    Built with <a href="https://jekyllrb.com/">Jekyll</a> and based on <a href="https://github.com/alshedivat/al-folio">al-folio</a>.
  </div>
</footer>
